html {
  background: #eee;
}

.container-form {
  min-width: 320px;
  width: 64%;
  max-width: 40em;
  margin: 10vh auto;
}

.fa.fa-times[data-field="dosis"] {
  display: none !important;
}

.fa.fa-times[data-field="file_receta"] {
  display: none !important;
}

.fa.fa-times[data-field="file_receta"] {
  display: none !important;
}
