html {
  background: #eee;
}


.fv-has-error > .control > select {
  border-color: red !important;
}

.control.has-icons-right .icon .invalid-fv {
  color: red !important;
}

.fa.fa-times[data-field="dosis"] {
  display: none !important;
}
