/* version 1.0 */
@import url("base.css");

#DataRVP tbody tr{
	-webkit-transition: all  400ms ease-in-out;
	-moz-transition: all  400ms ease-in-out;
	-ms-transition: all  400ms ease-in-out;
	-o-transition: all  400ms ease-in-out;
	transition: all  400ms ease-in-out;
}

    #DataRVP tbody tr:hover{
		background-color: #0081C2;
		color: white;
		-webkit-transition: all  400ms ease-in-out;
		-moz-transition: all  400ms ease-in-out;
		-ms-transition: all  400ms ease-in-out;
		-o-transition: all  400ms ease-in-out;
		transition: all  400ms ease-in-out;
	}
