$primary-color: #00d1b2 !default;

$border-color: #dbdbdb !default;
$border-radius: 3px;

$result-hover-color: #fff;
$result-hover-background-color: #00d1b2;

$result-selected-color: #e3e3e3;

$multiple-choice-color: #fff;
$multiple-choice-background-color: $primary-color !default;
